*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to right, #FFDB58, #FFFFE0); 
}

.gridContainer{
    display: grid;
    width: 35%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 32px;
    gap: 12px;
    background-color: #444444;
}
@media screen and (max-width: 900px) {
    .gridContainer {
      width: 90%;
    }
  }
.output{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 40px;
    border: 2px solid black;
    align-items:center;
    justify-content: flex-end;
    padding: 32px;
    background-color: #eeeeee;
    border-radius: 16px;
    margin-bottom: 8px;
}

.btn{
    border: 2px solid black;
    background-color: #eeeeee;
    min-width: 0;
    font-size: 28px;
    color: #111111;
    border-radius: 16px;
}

.btn.ope{
    font-size: 40px;
}

.btn.ope.delete{
    background-color: red;
}
